<style>
    .filterDiv {
        display: none;
        }
    .show {
        display: none;
    }
    .tagShow {
        display: none;
    }
    .extraTagShow {
        display: none;
    }
    .show.tagShow.extraTagShow{
        display: block;
    }
</style>